<section class="page-container">

  <header class="page-header">
    <h2 mat-dialog-title>Каталог товаров</h2>
    <div class="icons-container">
      <mat-icon [matBadge]="selectedProducts.length"
                matBadgeColor="accent" 
                matBadgePosition="after" 
                class="product-basket">shopping_cart</mat-icon>

      <mat-icon class="clear-button"
                (click)="selectedProducts.length !== 0 && clearProductBasket()"
                [ngClass]="{ 'clear-button_disabled': selectedProducts.length === 0 }"
                title="Очистить корзину">highlight_off</mat-icon>
    </div>
  </header>

  <table mat-table [dataSource]="dataProducts">
    <ng-container matColumnDef="select">
      <th mat-header-cell class="table-header table-header_checkbox" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th mat-header-cell class="table-header table-header_category" *matHeaderCellDef> Категория </th>
      <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell class="table-header" *matHeaderCellDef> Товар </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell class="table-header table-header_price" *matHeaderCellDef> Цена </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <div *ngIf="products && products.length > 0">
      <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </div>
  </table>

  <div *ngIf="!products || !products.length" class="preloader-container">Data loading...
    <mat-progress-bar mode="indeterminate">loading...</mat-progress-bar>
  </div>

  <div class="table-actions">
    <button mat-raised-button 
            class="add-button"
            color="accent" 
            type="button" 
            (click)="addToBasket()"
            [disabled]="!selection.hasValue()">В корзину</button>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
  </div>

</section>
