.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}

.page-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.icons-container {
  padding-right: 20px;
}

.clear-button {
  font-size: 40px;
  color: red;
}

.clear-button:hover {
  cursor: pointer;
}

.clear-button_disabled {
  color: rgba(0, 0, 0, 0.05);
}

.clear-button_disabled:hover {
  cursor: default;
}

.product-basket {
  margin-right: 20px;
  font-size: 40px;
  color: green;
}

.page-header,
table,
.table-actions {
  width: 70%;
  min-width: 550px;
}

.table-header {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-header_checkbox {
  width: 39px;
}

.table-header_category {
  width: 120px;
}

.table-header_price {
  width: 60px;
}

.table-row:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.table-actions {
  position: relative;
  height: 56px;
}

.add-button {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  margin-left: 25px;
}
